#mvMain{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.divDt{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aliceblue;
    height: 40px;
    justify-content: center;
    align-items: center;
}




.mvul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
}

.spRank{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    
    
}

.spName:hover{
    color: brown;
}


main ul {
  list-style: none;
  padding: 0;
}

main ul li {
  display: flex;
  justify-content: space-between; /* 아이템 간 양쪽 정렬 */
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.spRankChange {
  min-width: 20px;
  text-align: right;
}
